.ff-sen {
    font-family: "sen";
}

.ff-poppins {
    font-family: "poopins";
}

.ff-inter {
    font-family: "inter";
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.container-1 {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

/* ========nav======== */
.book-now-btn {
    border: 2px solid #F66F4D;
    padding: 20px 34px;
    background-color: #FAF8ED;
    border-radius: 50px;
}

.underline::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #F66F4D;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 200ms linear;
}

.underline:hover::after {
    width: 12px;
}

.cursor-pointer {
    cursor: pointer;
}

/* ==========nav end========== */
.box {
    width: px;
    height: px;
    background: red;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
    border-radius: 38px;
}

.border-1 {
    position: absolute;
    width: 133.36px;
    height: 145.71px;
    background: #FFFFFF;
    box-shadow: 0px 14px 24px -10px rgba(226, 154, 53, 0.2);
    border-radius: 9.87879px;

}

.line {
    width: 47px;
    height: 1px;
    border: 1px solid #EAEAEB;
    transform: rotate(90deg);
}

/* =========Section Second========= */
.pos-absolute-destination {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: none;
}

.position-relative:hover .pos-absolute-destination {
    display: block;
}

.opacity {
    opacity: 1;
}

.opacity:hover {
    opacity: 80%;
}

/* =========Section Three========== */
.experience-card {
    max-width: 160px;
    padding: 26px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14px;
}

.destination-box {
    background-color: white;
    border-radius: 14px;
    padding: 20px 14px;
}

.destination-absoulte {
    position: absolute;
    bottom: 25%;
    left: -12%;
}

.signle-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.signle-absoulte {
    position: absolute;
    right: 5%;
    bottom: -7%;

}

/* =========Sectio Forth=========== */
.width-386 {
    border: 2px solid white;
    border-radius: 16px;
    width: 400px;
    padding: 12px;
    background-color: #FAF8ED;
    box-shadow: 0px 24px 90px 0px #FAF8ED;
}

.slider-book-now-btn {
    border: 1px solid #2D3134;
    border-radius: 50px;
    padding: 12px 16px;
    background-color: #FAF8ED;
}

.slider-book-now-btn:hover {
    background-color: #2D3134;
    color: white;
}

.slider-arrow {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FAF8ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-arrow:hover {
    background-color: #2D3134;
    cursor: pointer;
}

.slider-arrow:hover path {
    stroke: #FAF8ED;
}

/* =========Section Forth End============ */
@media (max-width:992px) {
    .navbaar {
        position: absolute;
        left: -100%;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: #FAF8ED;
        transition: all 500ms linear;

    }

    label[for="menuicon"] {
        width: 30px;
        height: 25px;
        background-color: #FAF8ED;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    label[for="menuicon"]>span {
        width: 100%;
        height: 4px;
        background-color: #ffd4b2;
    }

    .show {
        left: 0;
    }


}

@media (max-width:576px) {
    .w-sm-100 {
        width: 100%;
    }
}

@media (min-width:992px) {
    .w-lg-100 {
        width: 100%;
    }
}