@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Sen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

/* ======Root=========== */
:root {
    --fs-4xsm: 12px;
    --fs-3xsm: 14px;
    --fs-2xsm: 16px;
    --fs-xsm: 18px;
    --fs-3md: 20px;
    --fs-2md: 24px;
    --fs-xmd: 26px;
    --fs-md: 28px;
    --fs-lg: 30px;
    --fs-2lg: 40px;
    --fs-xl: 46px;
    --fs-2xl: 56px;
    --fs-3xl: 84px;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --text-2d3134: #2d3134;
    --text-2E476B: #2E476B;
    --text-f66f4d: #f66f4d;
    --text-5b5f62: #5b5f62;
    --text-9498a4: #9498a4;
    --text-ffffff: #ffffff;
    --text-939597: #939597;
    --text-676a6c: #676a6c;
    --bg-primary: #FAF8ED !important;
    --bg-secondary: #FFD482 !important;
}

.fs-4xsm {
    font-size: var(--fs-4xsm);
}

.fs-3xsm {
    font-size: var(--fs-3xsm);
}

.fs-2xsm {
    font-size: var(--fs-2xsm);
}

.fs-xsm {
    font-size: var(--fs-xsm);
}

.fs-3md {
    font-size: var(--fs-3md);
}

.fs-2md {
    font-size: var(--fs-2md);
}

.fs-xmd {
    font-size: var(--fs-xmd);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-2lg {
    font-size: var(--fs-2lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-2xl {
    font-size: var(--fs-2xl);
}

.fs-3xl {
    font-size: var(--fs-3xl);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.text-2d3134 {
    color: var(--text-2d3134);
}

.text-2E476B {
    color: var(--text-2E476B);
}

.text-f66f4d {
    color: var(--text-f66f4d);
}

.text-5b5f62 {
    color: var(--text-5b5f62);
}

.text-9498a4 {
    color: var(--text-9498a4);
}

.text-ffffff {
    color: var(--text-ffffff);
}

.text-939597 {
    color: var(--text-939597);
}

.text-676a6c {
    color: var(--text-676a6c);
}

.bg-first {
    background-color: var(--bg-primary);
}

.bg-second {
    background-color: var(--bg-secondary);
}

/* ===========Root End========== */
/* =============Common Classes============ */
.ff-sen {
    font-family: "sen";
}

.ff-poppins {
    font-family: "poppins";
}

.ff-inter {
    font-family: "inter";
}

.cursol-pointer {
    cursor: pointer;
}

/* ================Fifth Section=========== */
.destination-btn {
    border: 1px solid #2D3134;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: var(--bg-primary);
    transition: all 400ms linear;
}

.destination-btn:hover {
    color: var(--text-ffffff);
    background-color: #2D3134;
    cursor: pointer;
}

div::-webkit-scrollbar {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, );
    gap: 30px;
}

.grid-1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-2 {
    grid-row: 1/3;
    grid-column: 2/3;
}

.grid-3 {
    grid-row: 1/2;
    grid-column: 3/5;
}

.grid-4 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid-5 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.grid-6 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.pos-absolute {
    position: absolute;
    top: 24px;
    left: 24px;
    display: none;
    ;
}

.pos-absolute-2 {
    position: absolute;
    bottom: 10px;
    left: 24px;
    display: none;
}

.rating-bg {
    padding: 5px 10px;
    background-color: white;
    border-radius: 50px;
}

.rating-bg:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.rating:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 400ms linear;
}

.rating:hover .pos-absolute {
    display: block;
    animation-name: show;
    animation-duration: 1s;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.rating:hover .pos-absolute-2 {
    display: block;
    animation-name: show;
    animation-duration: 1s;
}

/* ========Fifth Section End============= */
/* ========Sixth Section================= */
.line::after {
    content: '';
    position: absolute;
    width: 67px;
    height: 8px;
    border-radius: 4px;
    top: 10%;
    background-color: #FFD482;
}


.slider-box {
    padding: 32px;
    background-color: white;
    border-radius: 14px;
}

.arrow-box {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-box:hover {
    background-color: #2D3134;
    cursor: pointer;
}

.arrow-box:hover path {
    stroke: white;
}

/* ===========Sixth Section End========= */
/* ===========Seven Section Start======= */
.input-bg {
    width: 450px;
    height: 60px;
    background-color: white;
    border-radius: 12px;

}

input {
    outline: none;
    border: none;
}
input[type="email"]{
    color: #5B5F62;
    font-size: 14px;
    font-weight: 400;
    font-family: "inter";
}
.icon-box {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #F66F4D;
    display: flex;
    align-items: center;
    justify-content: center;

}

.send-icon {
    animation-name: send;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes send {
    0% {
        transform: translate(-5px, 10px);
    }

    50% {
        transform: translate(5px, -10px);
    }
}

.radius {
    border-radius: 30px;
}

.bg-line {
    background-image: url(/assets/image/png/background-line.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* =========Seven Section End=========== */
/* =========Footer Start============= */
.social-media-box {
    border: 1px solid black;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social-media-box:hover {
    border: 1px solid #f66f4d;
    animation-play-state: paused;
}

.social-media-box:hover path {
    fill: #F66F4D;
}

.facebook {
    animation-name: facebook;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes facebook {

    50% {
        transform: translate(0px, 50px);
    }
}

.instagram {
    animation-name: instagram;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.8, .6, .4, 1);
}

@keyframes instagram {

    50% {
        transform: translate(0px, 50px);
    }
}

.twitter {
    animation-name: twitter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0.7, 0.4, .2);
}

@keyframes twitter {

    50% {
        transform: translate(0px, 50px);
    }
}

/* =========Media Quries============= */
@media (min-width:1200px) {
    .my-container {
        max-width: 1170px !important;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (max-width:992px) {
    .grid-container {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, );
        gap: 30px;
    }

    .grid-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .grid-3 {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .grid-4 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .grid-5 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .grid-6 {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    :root {
        --fs-4xsm: 12px;
        --fs-3xsm: 14px;
        --fs-2xsm: 16px;
        --fs-xsm: 18px;
        --fs-3md: 20px;
        --fs-2md: 24px;
        --fs-xmd: 24px;
        --fs-md: 26px;
        --fs-lg: 26px;
        --fs-2lg: 35px;
        --fs-xl: 40px;
        --fs-2xl: 50px;
        --fs-3xl: 60px;
    }
}

@media (max-width:768px) {
    :root {
        --fs-4xsm: 12px;
        --fs-3xsm: 14px;
        --fs-2xsm: 16px;
        --fs-xsm: 18px;
        --fs-3md: 20px;
        --fs-2md: 24px;
        --fs-xmd: 24px;
        --fs-md: 26px;
        --fs-lg: 26px;
        --fs-2lg: 30px;
        --fs-xl: 35px;
        --fs-2xl: 45px;
        --fs-3xl: 50px;
    }
}

@media (max-width:576px) {
    .grid-container {
        display: grid;
    }

    .grid-1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-2 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .grid-3 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .grid-4 {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .grid-5 {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    .grid-6 {
        grid-row: 7/8;
        grid-column: 1/2;
    }

    .w-sm-100 {
        width: 100%;
    }

    .line::after {
        top: 9%;
    }

    :root {
        --fs-4xsm: 12px;
        --fs-3xsm: 14px;
        --fs-2xsm: 16px;
        --fs-xsm: 16px;
        --fs-3md: 18px;
        --fs-2md: 20px;
        --fs-xmd: 22px;
        --fs-md: 24px;
        --fs-lg: 25px;
        --fs-2lg: 25px;
        --fs-xl: 30px;
        --fs-2xl: 35px;
        --fs-3xl: 40px;
    }
}